<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>409374210470-cg7tv4gbr6r3722n1jen7acgjgi0qgta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409374210470-cg7tv4gbr6r3722n1jen7acgjgi0qgta</string>
	<key>API_KEY</key>
	<string>AIzaSyDN8ycb7TD5SKuf8l-4eq1nNM2BK8TdMYs</string>
	<key>GCM_SENDER_ID</key>
	<string>409374210470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Fashion.Gusti</string>
	<key>PROJECT_ID</key>
	<string>gusti-4c27b</string>
	<key>STORAGE_BUCKET</key>
	<string>gusti-4c27b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409374210470:ios:20dd2f4800d315b1</string>
	<key>DATABASE_URL</key>
	<string>https://gusti-4c27b.firebaseio.com</string>
</dict>
</plist>